.movies-card__item {
  max-width: 364px;
  width: 100%;
  background-color: #222222;
  border-radius: 6px;
  box-shadow: 0 4px 30px 0 rgba(0,0,0,8%);
  overflow: hidden;
  padding-bottom: 16px;
}

.movies-card__image {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 360/201;
  object-position: center;
}

.movies-card__container {
  padding: 16px 24px 0 16px;
  display: flex;
  justify-content: space-between;
}

.movies-card__title {
  margin: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 15.73px;
}

.movies-card__duration {
  margin: 0;
  color: #8B8B8B;
  font-size: 11px;
  line-height: 13.31px;
  padding-top: 17px;
}

.movies-card__button {
  border: none;
  padding: 0;
  width: 14px;
  height: 12px;
  background-image: url("../../images/moviesCardLike.svg");
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.movies-card__button_delete {
  border: none;
  padding: 0;
  width: 8px;
  height: 8px;
  background-image: url("../../images/moviesCardLikeDelete.svg");
  background-color: transparent;
  transition: 0.3s;
  cursor: pointer;
}

.movies-card__button_active {
  background-image: url("../../images/moviesCardLikeActive.svg");
}

.movies-card__button:hover {
  background-image: url("../../images/moviesCardLikeActive.svg");
}

@media screen and (max-width: 768px) {
  .movies-card__item {
    max-width: 339px;
    padding-bottom: 14px;
  }

  .movies-card__container {
    padding: 14px 14px 0 14px;
    display: flex;
    justify-content: space-between;
  }

  .movies-card__duration {
    padding-top: 15px;
  }
}

@media screen and (max-width: 320px) {
  .movies-card__item {
    max-width: 300px;
  }

  .movies-card__title {
    font-size: 12px;
    line-height: 14.52px;
  }

  .movies-card__duration {
    font-size: 10px;
    line-height: 12.1px;
  }
}
